<div class="w-full bg-white/10 z-50">
    <div class="flex flex-row text-primary justify-between px-20 py-10">
        <div class="flex flex-col gap-y-1 text-xs">
            <div class="font-bold uppercase mb-2 text-base">quicklinks</div>
            <div>Home</div>
            <div>News</div>
            <div>Matches</div>
        </div>

        <div class="flex flex-col gap-y-1 text-xs">
            <div class="font-bold uppercase mb-2 text-base">quicklinks</div>
            <div>Home</div>
            <div>News</div>
            <div>Matches</div>
        </div>

        <div class="flex flex-col gap-y-1 text-xs">
            <div class="font-bold uppercase mb-2 text-base">quicklinks</div>
            <div>Home</div>
            <div>News</div>
            <div>Matches</div>
        </div>
    </div>

    <div class="w-full bg-white/30 flex py-2 items-center justify-center text-xs">
        Made by Jisoonoo and all rights reserved to Jisoonoo
    </div>
</div>