<div class="fixed w-full h-20 top-0 bg-black z-50">
    <div class="w-full h-full flex items-center justify-between px-20 bg-white/10">
        <img src="assets/images/mongolz.png" alt="" class="h-14 w-auto">
        <div class="flex flex-row gap-x-6 text-xs text-primary uppercase items-center">
            <div>Home</div>
            <div>News</div>
            <div>Matches</div>
            <div>Partner</div>
            <div>contact page</div>
            <div matRipple class="bg-primary px-4 py-2 uppercase text-black cursor-pointer select-none">
                Become a legend
            </div>
        </div>
    </div>
</div>